<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Termination</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Termination</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn add-btn" data-toggle="modal" data-target="#add_termination"><i class="fa fa-plus"></i> Add
                    Termination</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
                    class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Terminated Employee </th>
                            <th>Department</th>
                            <th>Termination Type </th>
                            <th>Termination Date </th>
                            <th>Reason</th>
                            <th>Notice Date </th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstTermination;let i = index">
                            <td>{{item.id}}</td>
                            <td>
                                <h2 class="table-avatar blue-link">
                                    <a routerLink="/employees/employeeprofile" class="avatar"><img alt=""
                                            src="assets/img/profiles/avatar-0{{i+ 1}}.jpg"></a>
                                    <a routerLink="/employees/employeeprofile">{{item.employee}}</a>
                                </h2>
                            </td>
                            <td>{{item.department}}</td>
                            <td>{{item.terminationType}}</td>
                            <td>{{item.terminationDate | customDate}}</td>
                            <td>{{item.reason}}</td>
                            <td>{{item.noticedDate | customDate}}</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_termination"
                                            (click)="edit(item.id)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_termination"
                                            (click)="tempId =item.id"><i class="fa fa-trash-o m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Termination Modal -->
<div id="add_termination" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Termination</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addTermination()" [formGroup]="addTerminationForm">
                    <div class="form-group">
                        <label>Terminated Employee <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="addTerminationForm.get('EmployeeName').invalid && addTerminationForm.get('EmployeeName').touched"
                            formControlName="EmployeeName">
                        <div
                            *ngIf="addTerminationForm.get('EmployeeName').invalid && addTerminationForm.get('EmployeeName').touched">
                            <small
                                *ngIf="addTerminationForm.get('EmployeeName').invalid && addTerminationForm.get('EmployeeName').touched"
                                class="text-danger"> *Employee is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Termination Type <span class="text-danger">*</span></label>
                        <div class="add-group-btn">
                            <select class="select"
                                [class.invalid]="addTerminationForm.get('TerminationTyped').invalid && addTerminationForm.get('TerminationTyped').touched"
                                formControlName="TerminationTyped">
                                <option>Misconduct</option>
                                <option>Others</option>
                            </select>
                            <a class="btn btn-primary" ><i class="fa fa-plus"></i> Add</a>
                            <div
                                *ngIf="addTerminationForm.get('TerminationTyped').invalid && addTerminationForm.get('TerminationTyped').touched">
                                <small
                                    *ngIf="addTerminationForm.get('TerminationTyped').invalid && addTerminationForm.get('TerminationTyped').touched"
                                    class="text-danger"> *Termination Type is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Termination Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                [class.invalid]="addTerminationForm.get('TerminationDated').invalid && addTerminationForm.get('TerminationDated').touched"
                                formControlName="TerminationDated">
                        </div>
                        <div
                            *ngIf="addTerminationForm.get('TerminationDated').invalid && addTerminationForm.get('TerminationDated').touched">
                            <small
                                *ngIf="addTerminationForm.get('TerminationDated').invalid && addTerminationForm.get('TerminationDated').touched"
                                class="text-danger"> *Termination Date is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Reason <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="4"
                            [class.invalid]="addTerminationForm.get('ReasonName').invalid && addTerminationForm.get('ReasonName').touched"
                            formControlName="ReasonName"></textarea>
                        <div
                            *ngIf="addTerminationForm.get('ReasonName').invalid && addTerminationForm.get('ReasonName').touched">
                            <small
                                *ngIf="addTerminationForm.get('ReasonName').invalid && addTerminationForm.get('ReasonName').touched"
                                class="text-danger"> *Reason is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Notice Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                [class.invalid]="addTerminationForm.get('NoticeDated').invalid && addTerminationForm.get('NoticeDated').touched"
                                formControlName="NoticeDated">
                            <div
                                *ngIf="addTerminationForm.get('NoticeDated').invalid && addTerminationForm.get('NoticeDated').touched">
                                <small
                                    *ngIf="addTerminationForm.get('NoticeDated').invalid && addTerminationForm.get('NoticeDated').touched"
                                    class="text-danger"> *Reason is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Termination Modal -->

<!-- Edit Termination Modal -->
<div id="edit_termination" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Termination</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editTermination()" [formGroup]="editTerminationForm">
                    <div class="form-group">
                        <label>Terminated Employee <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="editTerminationForm.get('EmployeeName').invalid && editTerminationForm.get('EmployeeName').touched"
                            formControlName="EmployeeName">
                        <div
                            *ngIf="editTerminationForm.get('EmployeeName').invalid && editTerminationForm.get('EmployeeName').touched">
                            <small
                                *ngIf="editTerminationForm.get('EmployeeName').invalid && editTerminationForm.get('EmployeeName').touched"
                                class="text-danger"> *Employee is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Termination Type <span class="text-danger">*</span></label>
                        <div class="add-group-btn">
                            <select class="select"
                                [class.invalid]="editTerminationForm.get('TerminationTyped').invalid && editTerminationForm.get('TerminationTyped').touched"
                                formControlName="TerminationTyped">
                                <option>Misconduct</option>
                                <option>Others</option>
                            </select>
                            <a class="btn btn-primary" ><i class="fa fa-plus"></i> Add</a>
                            <div
                                *ngIf="editTerminationForm.get('TerminationTyped').invalid && editTerminationForm.get('TerminationTyped').touched">
                                <small
                                    *ngIf="editTerminationForm.get('TerminationTyped').invalid && editTerminationForm.get('TerminationTyped').touched"
                                    class="text-danger"> *Termination Type is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Termination Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                [class.invalid]="editTerminationForm.get('TerminationDated').invalid && editTerminationForm.get('TerminationDated').touched"
                                formControlName="TerminationDated">
                        </div>
                        <div
                            *ngIf="editTerminationForm.get('TerminationDated').invalid && editTerminationForm.get('TerminationDated').touched">
                            <small
                                *ngIf="editTerminationForm.get('TerminationDated').invalid && editTerminationForm.get('TerminationDated').touched"
                                class="text-danger"> *Termination Date is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Reason <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="4"
                            [class.invalid]="editTerminationForm.get('ReasonName').invalid && editTerminationForm.get('ReasonName').touched"
                            formControlName="ReasonName"></textarea>
                        <div
                            *ngIf="editTerminationForm.get('ReasonName').invalid && editTerminationForm.get('ReasonName').touched">
                            <small
                                *ngIf="editTerminationForm.get('ReasonName').invalid && editTerminationForm.get('ReasonName').touched"
                                class="text-danger"> *Reason is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Notice Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                [class.invalid]="editTerminationForm.get('NoticeDated').invalid && editTerminationForm.get('NoticeDated').touched"
                                formControlName="NoticeDated">
                            <div
                                *ngIf="editTerminationForm.get('NoticeDated').invalid && editTerminationForm.get('NoticeDated').touched">
                                <small
                                    *ngIf="editTerminationForm.get('NoticeDated').invalid && editTerminationForm.get('NoticeDated').touched"
                                    class="text-danger"> *Notice Date is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Termination Modal -->

<!-- Delete Termination Modal -->
<div class="modal custom-modal fade" id="delete_termination" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Termination</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                                (click)="deleteTermination()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Termination Modal -->