<div class="chat-window">
    <div class="fixed-header">
        <div class="navbar">
            <div class="user-details mr-auto">
                <div class="float-left user-img">
                    <a class="avatar" href="javaScript:void(0):" title="Mike Litorus">
                        <img src="assets/img/profiles/avatar-05.jpg" alt="" class="rounded-circle">
                        <span class="status online"></span>
                    </a>
                </div>
                <div class="user-info float-left">
                    <a href="javaScript:void(0):"><span>Mike Litorus</span></a>
                    <span class="last-seen">Online</span>
                </div>
            </div>
            <ul class="nav float-right custom-menu">
                <li class="nav-item">
                    <a href="#task_window" id="task_chat" class="task-chat profile-rightbar float-right"><i class="fa fa-comments"></i></a>
                </li>
                <li class="nav-item dropdown dropdown-action">
                    <a href="javaScript:void(0):" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javaScript:void(0)" class="dropdown-item">Settings</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="chat-contents">
        <div class="chat-content-wrap">
            <div class="voice-call-avatar">
                <img src="assets/img/profiles/avatar-02.jpg" alt="" class="call-avatar">
                <span class="username">John Doe</span>
                <span class="call-timing-count">00:59</span>
            </div>
            <div class="call-users">
                <ul>
                    <li>
                        <a>
                            <img src="assets/img/profiles/avatar-03.jpg" class="img-fluid" alt="">
                            <span class="call-mute"><i class="fa fa-microphone-slash"></i></span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="assets/img/profiles/avatar-08.jpg" class="img-fluid" alt="">
                            <span class="call-mute"><i class="fa fa-microphone-slash"></i></span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <img src="assets/img/profiles/avatar-05.jpg" class="img-fluid" alt="">
                            <span class="call-mute"><i class="fa fa-microphone-slash"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="chat-footer">
        <div class="call-icons">
            <ul class="call-items">
                <li class="call-item">
                    <a tooltip="Enable Video">
                        <i class="fa fa-video-camera camera"></i>
                    </a>
                </li>
                <li class="call-item">
                    <a  tooltip="Mute">
                        <i class="fa fa-microphone microphone"></i>
                    </a>
                </li>
                <li class="call-item">
                    <a  tooltip="Add User">
                        <i class="fa fa-user-plus"></i>
                    </a>
                </li>
            </ul>
            <div class="end-call">
                <a >
                    <i class="material-icons">call_end</i>
                </a>
            </div>
        </div>
    </div>
</div>