<!-- Page Content -->
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Basic Settings</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <form (ngSubmit)="submitLocalisation()" [formGroup]="localisation">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Default Country</label>
                            <select class="form-control select" [class.invalid]="localisation.get('defaultCountry').invalid && localisation.get('defaultCountry').touched"
                            formControlName="defaultCountry">
                                <option value = "USA">USA</option>
                                <option value = "United Kingdom">United Kingdom</option>
                            </select>
                            <div
                            *ngIf="localisation.get('defaultCountry').invalid && localisation.get('defaultCountry').touched">
                            <small
                                *ngIf="localisation.get('defaultCountry').invalid && localisation.get('defaultCountry').touched"
                                class="text-danger"> *Default country is required</small>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Date Format</label>
                            <select class="form-control select" [class.invalid]="localisation.get('dateFormat').invalid && localisation.get('dateFormat').touched"
                            formControlName="dateFormat" [value] = "15/05/2016">
                                <option value="15/05/2016">15/05/2016</option>
                                <option value="15.05.2016">15.05.2016</option>
                                <option value="15-05-2016">15-05-2016</option>
                                <option value="05/15/2016">05/15/2016</option>
                                <option value="05/15/2016">05/15/2016</option>
                                <option value="2016-05-15">2016-05-15</option>
                                <option value="May 15 2016">May 15 2016</option>
                                <option selected="selected" value="d M Y">15 May 2016</option>
                            </select>
                            <div
                            *ngIf="localisation.get('dateFormat').invalid && localisation.get('dateFormat').touched">
                            <small
                                *ngIf="localisation.get('dateFormat').invalid && localisation.get('dateFormat').touched"
                                class="text-danger"> *Date format is required</small>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Timezone</label>
                            <select class="form-control select" [class.invalid]="localisation.get('timeZone').invalid && localisation.get('timeZone').touched"
                            formControlName="timeZone">
                                <option value = "(UTC +5:30) Antarctica/Palmer">(UTC +5:30) Antarctica/Palmer</option>
                            </select>
                            <div
                            *ngIf="localisation.get('timeZone').invalid && localisation.get('timeZone').touched">
                            <small
                                *ngIf="localisation.get('timeZone').invalid && localisation.get('timeZone').touched"
                                class="text-danger"> *Time zone is required</small>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Default Language</label>
                            <select class="form-control select" [class.invalid]="localisation.get('deafultLanguage').invalid && localisation.get('deafultLanguage').touched"
                            formControlName="deafultLanguage">
                                <option value = "English" >English</option>
                                <option value = "French">French</option>
                            </select>
                            <div
                            *ngIf="localisation.get('deafultLanguage').invalid && localisation.get('deafultLanguage').touched">
                            <small
                                *ngIf="localisation.get('deafultLanguage').invalid && localisation.get('deafultLanguage').touched"
                                class="text-danger"> *Default Language is required</small>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Currency Code</label>
                            <select class="form-control select" [class.invalid]="localisation.get('currencyCode').invalid && localisation.get('currencyCode').touched"
                            formControlName="currencyCode">
                                <option value = "USD">USD</option>
                                <option value = "Pound">Pound</option>
                                <option value = "EURO">EURO</option>
                                <option value = "Ringgit">Ringgit</option>
                            </select>
                            <div
                            *ngIf="localisation.get('currencyCode').invalid && localisation.get('currencyCode').touched">
                            <small
                                *ngIf="localisation.get('currencyCode').invalid && localisation.get('currencyCode').touched"
                                class="text-danger"> *Currency Code is required</small>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Currency Symbol</label>
                            <input class="form-control" readonly value="$" type="text">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Page Content -->