<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Holidays 2019</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Holidays</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a  class="btn add-btn" data-toggle="modal" data-target="#add_holiday"><i
                        class="fa fa-plus"></i> Add Holiday</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped custom-table mb-0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title </th>
                            <th>Holiday Date</th>
                            <th>Day</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="holiday-completed" *ngFor="let row of lstHolidays">
                            <td>{{row.id}}</td>
                            <td>{{row.title}}</td>
                            <td>{{row.holidaydate | customDate}}</td>
                            <td>{{row.day}}</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#edit_holiday" (click)="edit(row.id)"><i
                                                class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#delete_holiday" (click)="tempId = row.id"><i
                                                class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Holiday Modal -->
<div class="modal custom-modal fade" id="add_holiday" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Holiday</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-target="#add_holiday">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addholidays()" [formGroup]="addHolidayForm">
                    <div class="form-group">
                        <label>Holiday Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="addHolidayForm.get('HolidayName').invalid && addHolidayForm.get('HolidayName').touched"
                            formControlName="HolidayName">
                        <div
                            *ngIf="addHolidayForm.get('HolidayName').invalid && addHolidayForm.get('HolidayName').touched">
                            <small
                                *ngIf="addHolidayForm.get('HolidayName').invalid && addHolidayForm.get('HolidayName').touched"
                                class="text-danger"> *Name is required</small>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Holiday Date</label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                [class.invalid]="addHolidayForm.get('Holidaydate').invalid && addHolidayForm.get('Holidaydate').touched"
                                formControlName="Holidaydate">
                            <div
                                *ngIf="addHolidayForm.get('Holidaydate').invalid && addHolidayForm.get('Holidaydate').touched">
                                <small
                                    *ngIf="addHolidayForm.get('Holidaydate').invalid && addHolidayForm.get('Holidaydate').touched"
                                    class="text-danger"> *Date is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Day <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="addHolidayForm.get('DaysName').invalid && addHolidayForm.get('DaysName').touched"
                            formControlName="DaysName">
                        <div *ngIf="addHolidayForm.get('DaysName').invalid && addHolidayForm.get('DaysName').touched">
                            <small
                                *ngIf="addHolidayForm.get('DaysName').invalid && addHolidayForm.get('DaysName').touched"
                                class="text-danger"> *Days is required</small>
                        </div>

                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Holiday Modal -->


<!-- Edit Holiday Modal -->
<div class="modal custom-modal fade" id="edit_holiday" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Holiday</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editHolidays()" [formGroup]="editHolidayForm">
                    <div class="form-group">
                        <label>Holiday Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="editHolidayForm.get('editHolidayName').invalid && editHolidayForm.get('editHolidayName').touched"
                            formControlName="editHolidayName">
                        <div
                            *ngIf="editHolidayForm.get('editHolidayName').invalid && editHolidayForm.get('editHolidayName').touched">
                            <small
                                *ngIf="editHolidayForm.get('editHolidayName').invalid && editHolidayForm.get('editHolidayName').touched"
                                class="text-danger"> *Name is required</small>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Holiday Date</label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                [class.invalid]="editHolidayForm.get('editHolidayDate').invalid && editHolidayForm.get('editHolidayDate').touched"
                                formControlName="editHolidayDate" (bsValueChange)="from($event)">
                            <div
                                *ngIf="editHolidayForm.get('editHolidayDate').invalid && editHolidayForm.get('editHolidayDate').touched">
                                <small
                                    *ngIf="editHolidayForm.get('editHolidayDate').invalid && editHolidayForm.get('editHolidayDate').touched"
                                    class="text-danger"> *Date is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Day <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="editHolidayForm.get('editDaysName').invalid && editHolidayForm.get('editDaysName').touched"
                            formControlName="editDaysName">
                        <div
                            *ngIf="editHolidayForm.get('editDaysName').invalid && editHolidayForm.get('editDaysName').touched">
                            <small
                                *ngIf="editHolidayForm.get('editDaysName').invalid && editHolidayForm.get('editDaysName').touched"
                                class="text-danger"> *Days is required</small>
                        </div>

                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Holiday Modal -->

<!-- Delete Holiday Modal -->
<div class="modal custom-modal fade" id="delete_holiday" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Holiday</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                                (click)="deleteHolidays()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Holiday Modal -->