<div class="display-table">
    <div class="table-row">
        <div class="table-body">
            <div class="table-content">
                <div class="chat-profile-img">
                    <div class="edit-profile-img">
                        <img src="assets/img/profiles/avatar-02.jpg" alt="">
                        <span class="change-img">Change Image</span>
                    </div>
                    <h3 class="user-name m-t-10 mb-0">John Doe</h3>
                    <small class="text-muted">Web Designer</small>
                    <a  class="btn btn-primary edit-btn"><i class="fa fa-pencil"></i></a>
                </div>
                <div class="chat-profile-info">
                    <ul class="user-det-list">
                        <li>
                            <span>Username:</span>
                            <span class="float-right text-muted">johndoe</span>
                        </li>
                        <li>
                            <span>DOB:</span>
                            <span class="float-right text-muted">24 July</span>
                        </li>
                        <li>
                            <span>Email:</span>
                            <span class="float-right text-muted">johndoe@example.com</span>
                        </li>
                        <li>
                            <span>Phone:</span>
                            <span class="float-right text-muted">9876543210</span>
                        </li>
                    </ul>
                </div>
                <div class="transfer-files">
                    <ul class="nav nav-tabs nav-tabs-solid nav-justified mb-0">
                        <li class="nav-item"><a class="nav-link active" href="#all_files" data-toggle="tab">All Files</a></li>
                        <li class="nav-item"><a class="nav-link" href="#my_files" data-toggle="tab">My Files</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane show active" id="all_files">
                            <ul class="files-list">
                                <li>
                                    <div class="files-cont">
                                        <div class="file-type">
                                            <span class="files-icon"><i class="fa fa-file-pdf-o"></i></span>
                                        </div>
                                        <div class="files-info">
                                            <span class="file-name text-ellipsis">AHA Selfcare Mobile Application Test-Cases.xls</span>
                                            <span class="file-author"><a href="javaScript:void(0):">Loren Gatlin</a></span> <span class="file-date">May 31st at 6:53 PM</span>
                                        </div>
                                        <ul class="files-action">
                                            <li class="dropdown dropdown-action">
                                                <a href="javaScript:void(0):" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_horiz</i></a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="javascript:void(0)">Download</a>
                                                    <a class="dropdown-item" href="javaScript:void(0)" data-toggle="modal" data-target="#share_files">Share</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane" id="my_files">
                            <ul class="files-list">
                                <li>
                                    <div class="files-cont">
                                        <div class="file-type">
                                            <span class="files-icon"><i class="fa fa-file-pdf-o"></i></span>
                                        </div>
                                        <div class="files-info">
                                            <span class="file-name text-ellipsis">AHA Selfcare Mobile Application Test-Cases.xls</span>
                                            <span class="file-author"><a href="javascript:void(0)">John Doe</a></span> <span class="file-date">May 31st at 6:53 PM</span>
                                        </div>
                                        <ul class="files-action">
                                            <li class="dropdown dropdown-action">
                                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_horiz</i></a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="javascript:void(0)">Download</a>
                                                    <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#share_files">Share</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>