<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Promotion</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Promotion</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn add-btn" data-toggle="modal" data-target="#add_promotion"><i class="fa fa-plus"></i> Add
                    Promotion</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

                <!-- Promotion Table -->
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
                    class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Promoted Employee </th>
                            <th>Department</th>
                            <th>Promotion Designation From </th>
                            <th>Promotion Designation To </th>
                            <th>Promotion Date </th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstPromotion;let i = index">
                            <td>{{item.id}}</td>
                            <td>
                                <h2 class="table-avatar blue-link">
                                    <a routerLink="/employees/employeeprofile" class="avatar"><img alt=""
                                            src="assets/img/profiles/avatar-0{{i+ 1}}.jpg"></a>
                                    <a routerLink="/employees/employeeprofile">{{item.employee}}</a>
                                </h2>
                            </td>
                            <td>{{item.department}}</td>
                            <td>{{item.promotionFrom}}</td>
                            <td>{{item.promotionTo}}</td>
                            <td>{{item.promotionDate | customDate}}</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#edit_promotion"
                                            (click)="edit(item.id)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-toggle="modal" data-target="#delete_promotion"
                                            (click)="tempId =item.id"><i class="fa fa-trash-o m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- /Promotion Table -->

            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Promotion Modal -->
<div id="add_promotion" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Promotion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addPromotion()" [formGroup]="addPromotionForm">
                    <div class="form-group">
                        <label>Promotion For <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="addPromotionForm.get('proFor').invalid && addPromotionForm.get('proFor').touched"
                            formControlName="proFor">
                        <div *ngIf="addPromotionForm.get('proFor').invalid && addPromotionForm.get('proFor').touched">
                            <small
                                *ngIf="addPromotionForm.get('proFor').invalid && addPromotionForm.get('proFor').touched"
                                class="text-danger"> *Promotion For is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Promotion From <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="addPromotionForm.get('proFrom').invalid && addPromotionForm.get('proFrom').touched"
                            formControlName="proFrom">
                        <div *ngIf="addPromotionForm.get('proFrom').invalid && addPromotionForm.get('proFrom').touched">
                            <small
                                *ngIf="addPromotionForm.get('proFrom').invalid && addPromotionForm.get('proFrom').touched"
                                class="text-danger"> *Promotion From is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Promotion To <span class="text-danger">*</span></label>
                        <select class="select form-control"
                            [class.invalid]="addPromotionForm.get('proTo').invalid && addPromotionForm.get('proTo').touched"
                            formControlName="proTo">
                            <option>Web Developer</option>
                            <option>Web Designer</option>
                            <option>SEO Analyst</option>
                        </select>
                        <div *ngIf="addPromotionForm.get('proTo').invalid && addPromotionForm.get('proTo').touched">
                            <small
                                *ngIf="addPromotionForm.get('proTo').invalid && addPromotionForm.get('proTo').touched"
                                class="text-danger"> *Promotion To is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Promotion Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                [class.invalid]="addPromotionForm.get('proDate').invalid && addPromotionForm.get('proDate').touched"
                                formControlName="proDate">
                            <div
                                *ngIf="addPromotionForm.get('proDate').invalid && addPromotionForm.get('proDate').touched">
                                <small
                                    *ngIf="addPromotionForm.get('proDate').invalid && addPromotionForm.get('proDate').touched"
                                    class="text-danger"> *Promotion Date is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Promotion Modal -->

<!-- Edit Promotion Modal -->
<div id="edit_promotion" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Promotion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editPromotion()" [formGroup]="editPromotionForm">
                    <div class="form-group">
                        <label>Promotion For <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="editPromotionForm.get('proFor').invalid && editPromotionForm.get('proFor').touched"
                            formControlName="proFor">
                        <div *ngIf="editPromotionForm.get('proFor').invalid && editPromotionForm.get('proFor').touched">
                            <small
                                *ngIf="editPromotionForm.get('proFor').invalid && editPromotionForm.get('proFor').touched"
                                class="text-danger"> *Promotion For is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Promotion From <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="editPromotionForm.get('proFrom').invalid && editPromotionForm.get('proFrom').touched"
                            formControlName="proFrom">
                    </div>
                    <div class="form-group">
                        <label>Promotion To <span class="text-danger">*</span></label>
                        <select class="select form-control"
                            [class.invalid]="editPromotionForm.get('proTo').invalid && editPromotionForm.get('proTo').touched"
                            formControlName="proTo">
                            <option>Web Developer</option>
                            <option>Web Designer</option>
                            <option>SEO Analyst</option>
                        </select>
                        <div *ngIf="editPromotionForm.get('proTo').invalid && editPromotionForm.get('proTo').touched">
                            <small
                                *ngIf="editPromotionForm.get('proTo').invalid && editPromotionForm.get('proTo').touched"
                                class="text-danger"> *Promotion To is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Promotion Date <span class="text-danger">*</span></label>
                        <div class="cal-icon">
                            <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                [class.invalid]="editPromotionForm.get('proDate').invalid && editPromotionForm.get('proDate').touched"
                                formControlName="proDate">

                            <div
                                *ngIf="editPromotionForm.get('proDate').invalid && editPromotionForm.get('proDate').touched">
                                <small
                                    *ngIf="editPromotionForm.get('proDate').invalid && editPromotionForm.get('proDate').touched"
                                    class="text-danger"> *Promotion Date is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Promotion Modal -->

<!-- Delete Promotion Modal -->
<div class="modal custom-modal fade" id="delete_promotion" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Promotion</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                                (click)="deletePromotion()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Promotion Modal -->