<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Job Applicants</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Job Applicants</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Apply Date</th>
                            <th class="text-center">Status</th>
                            <th>Resume</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let appliedCandidates of allAppliedCandidates;let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{appliedCandidates.name}}</td>
                            <td>{{appliedCandidates.email}}</td>
                            <td>{{appliedCandidates.phone}}</td>
                            <td>{{appliedCandidates.applyDate}}</td>
                            <td class="text-center">
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" 
                                        data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-dot-circle-o text-info"></i> New
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" ><i class="fa fa-dot-circle-o text-info"></i>
                                            New</a>
                                        <a class="dropdown-item" ><i
                                                class="fa fa-dot-circle-o text-success"></i> Hired</a>
                                        <a class="dropdown-item" ><i class="fa fa-dot-circle-o text-danger"></i>
                                            Rejected</a>
                                        <a class="dropdown-item" ><i class="fa fa-dot-circle-o text-danger"></i>
                                            Interviewed</a>
                                    </div>
                                </div>
                            </td>
                            <td><a  class="btn btn-sm btn-primary"><i class="fa fa-download"></i> Download</a>
                            </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" ><i class="fa fa-clock-o m-r-5"></i> Schedule
                                            Interview</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->