<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Training Type</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Training Type</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a  class="btn add-btn" data-toggle="modal" data-target="#add_type"><i class="fa fa-plus"></i>
                    Add Type</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th>Type </th>
                            <th>Description </th>
                            <th>Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstTrainingType">
                            <td>{{item.id}}</td>
                            <td>{{item.type}}</td>
                            <td>{{item.description}}</td>
                            <td>
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" 
                                        data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-dot-circle-o text-success"></i> {{item.status}}
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" ><i
                                                class="fa fa-dot-circle-o text-success"></i> Active</a>
                                        <a class="dropdown-item" ><i class="fa fa-dot-circle-o text-danger"></i>
                                            Inactive</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"  data-toggle="modal" data-target="#edit_type"
                                            (click)="edit(item.id)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item"  data-toggle="modal" data-target="#delete_type"
                                            (click)="tempId =item.id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Training Type Modal -->
<div id="add_type" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addTrainingType()" [formGroup]="addTrainingTypeForm">
                    <div class="form-group">
                        <label> Type <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="addTrainingTypeForm.get('GoalType').invalid && addTrainingTypeForm.get('GoalType').touched"
                            formControlName="GoalType">
                        <div
                            *ngIf="addTrainingTypeForm.get('GoalType').invalid && addTrainingTypeForm.get('GoalType').touched">
                            <small
                                *ngIf="addTrainingTypeForm.get('GoalType').invalid && addTrainingTypeForm.get('GoalType').touched"
                                class="text-danger"> *Type is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="4"
                            [class.invalid]="addTrainingTypeForm.get('Description').invalid && addTrainingTypeForm.get('Description').touched"
                            formControlName="Description"></textarea>
                        <div
                            *ngIf="addTrainingTypeForm.get('Description').invalid && addTrainingTypeForm.get('Description').touched">
                            <small
                                *ngIf="addTrainingTypeForm.get('Description').invalid && addTrainingTypeForm.get('Description').touched"
                                class="text-danger"> *Description is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Status</label>
                        <select class="select form-control"
                            [class.invalid]="addTrainingTypeForm.get('Status').invalid && addTrainingTypeForm.get('Status').touched"
                            formControlName="Status">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                        <div
                            *ngIf="addTrainingTypeForm.get('Status').invalid && addTrainingTypeForm.get('Status').touched">
                            <small
                                *ngIf="addTrainingTypeForm.get('Status').invalid && addTrainingTypeForm.get('Status').touched"
                                class="text-danger"> *Status is required</small>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Training Type Modal -->

<!-- Edit Training Type Modal -->
<div id="edit_type" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editTrainingType()" [formGroup]="editTrainingTypeForm">
                    <div class="form-group">
                        <label> Type <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="editTrainingTypeForm.get('GoalType').invalid && editTrainingTypeForm.get('GoalType').touched"
                            formControlName="GoalType">
                        <div
                            *ngIf="editTrainingTypeForm.get('GoalType').invalid && editTrainingTypeForm.get('GoalType').touched">
                            <small
                                *ngIf="editTrainingTypeForm.get('GoalType').invalid && editTrainingTypeForm.get('GoalType').touched"
                                class="text-danger"> *Type is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="4"
                            [class.invalid]="editTrainingTypeForm.get('Description').invalid && editTrainingTypeForm.get('Description').touched"
                            formControlName="Description"></textarea>
                        <div
                            *ngIf="editTrainingTypeForm.get('Description').invalid && editTrainingTypeForm.get('Description').touched">
                            <small
                                *ngIf="editTrainingTypeForm.get('Description').invalid && editTrainingTypeForm.get('Description').touched"
                                class="text-danger"> *Description is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Status</label>
                        <select class="select form-control"
                            [class.invalid]="editTrainingTypeForm.get('Status').invalid && editTrainingTypeForm.get('Status').touched"
                            formControlName="Status">
                            <option>Active</option>
                            <option>Inactive</option>
                        </select>
                        <div
                            *ngIf="editTrainingTypeForm.get('Status').invalid && editTrainingTypeForm.get('Status').touched">
                            <small
                                *ngIf="editTrainingTypeForm.get('Status').invalid && editTrainingTypeForm.get('Status').touched"
                                class="text-danger"> *Status is required</small>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Training Type Modal -->

<!-- Delete Training Type Modal -->
<div class="modal custom-modal fade" id="delete_type" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Training Type</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a class="btn btn-primary continue-btn"
                                (click)="deleteTrainingType()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Training Type Modal -->