<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Policies</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Policies</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a  class="btn add-btn" data-toggle="modal" data-target="#add_policy"><i class="fa fa-plus"></i>
                    Add Policy</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th>Policy Name </th>
                            <th>Department </th>
                            <th>Description </th>
                            <th>Created </th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let policies of allPolicies;let i = index">
                            <td>{{i + 1}}</td>
                            <td>{{policies.policyName}}</td>
                            <td>{{policies.department}}</td>
                            <td>{{policies.description}}</td>
                            <td>{{policies.createdDate}}</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" ><i class="fa fa-download m-r-5"></i>
                                            Download</a>
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#edit_policy" (click)="edit(policies.id)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#delete_policy" (click)="tempId = policies.id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="allPolicies.length === 0">
                            <td colspan="10">
                                <h5 style="text-align: center;">No data found</h5>
                            </td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Policy Modal -->
<div id="add_policy" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addPoliciesSubmit()" [formGroup]="addPolicies">
                    <div class="form-group">
                        <label>Policy Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" [class.invalid]="addPolicies.get('addPolicyName').invalid && addPolicies.get('addPolicyName').touched"
                        formControlName="addPolicyName">
                        <div
                                    *ngIf="addPolicies.get('addPolicyName').invalid && addPolicies.get('addPolicyName').touched">
                                    <small
                                        *ngIf="addPolicies.get('addPolicyName').invalid && addPolicies.get('addPolicyName').touched"
                                        class="text-danger"> *Policy name is required</small>
                                </div>

                        
                    </div>
                    <div class="form-group">
                        <label>Description <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="4" [class.invalid]="addPolicies.get('addDescription').invalid && addPolicies.get('addDescription').touched"
                        formControlName="addDescription"></textarea>

                        <div
                                    *ngIf="addPolicies.get('addDescription').invalid && addPolicies.get('addDescription').touched">
                                    <small
                                        *ngIf="addPolicies.get('addDescription').invalid && addPolicies.get('addDescription').touched"
                                        class="text-danger"> *Description is required</small>
                                </div>

                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Department</label>
                        <select class="form-control select"  [class.invalid]="addPolicies.get('addDepartment').invalid && addPolicies.get('addDepartment').touched"
                        formControlName="addDepartment">
                            <option>All Departments</option>
                            <option>Web Development</option>
                            <option>Marketing</option>
                            <option>IT Management</option>
                        </select>

                        <div
                                    *ngIf="addPolicies.get('addDepartment').invalid && addPolicies.get('addDepartment').touched">
                                    <small
                                        *ngIf="addPolicies.get('addDepartment').invalid && addPolicies.get('addDepartment').touched"
                                        class="text-danger"> *Department name is required</small>
                                </div>
                    </div>
                    <div class="form-group">
                        <label>Upload Policy <span class="text-danger">*</span></label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="policy_upload">
                            <label class="custom-file-label" for="policy_upload">Choose file</label>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Policy Modal -->

<!-- Edit Policy Modal -->
<div id="edit_policy" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Policy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editPoliciesSubmit()" [formGroup]="editPolicies">
                    <div class="form-group">
                        <label>Policy Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"  [class.invalid]="editPolicies.get('editPolicyName').invalid && editPolicies.get('editPolicyName').touched"
                        formControlName="editPolicyName">

                        <div
                                    *ngIf="editPolicies.get('editPolicyName').invalid && editPolicies.get('editPolicyName').touched">
                                    <small
                                        *ngIf="editPolicies.get('editPolicyName').invalid && editPolicies.get('editPolicyName').touched"
                                        class="text-danger"> *policy name is required</small>
                                </div>
                    </div>
                    <div class="form-group">
                        <label>Description <span class="text-danger">*</span></label>
                        <textarea class="form-control" rows="4" [class.invalid]="editPolicies.get('editDescription').invalid && editPolicies.get('editDescription').touched"
                        formControlName="editDescription"></textarea>

                        <div
                                    *ngIf="editPolicies.get('editDescription').invalid && editPolicies.get('editDescription').touched">
                                    <small
                                        *ngIf="editPolicies.get('editDescription').invalid && editPolicies.get('editDescription').touched"
                                        class="text-danger"> *Description is required</small>
                                </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Department</label>
                        <select class="form-control select" [class.invalid]="editPolicies.get('editDepartment').invalid && editPolicies.get('editDepartment').touched"
                        formControlName="editDepartment">
                            <option>All Departments</option>
                            <option>Web Development</option>
                            <option>Marketing</option>
                            <option>IT Management</option>
                        </select>
                        <div
                                    *ngIf="editPolicies.get('editDepartment').invalid && editPolicies.get('editDepartment').touched">
                                    <small
                                        *ngIf="editPolicies.get('editDepartment').invalid && editPolicies.get('editDepartment').touched"
                                        class="text-danger"> *Department name is required</small>
                                </div>
                    </div>
                    <div class="form-group">
                        <label>Upload Policy <span class="text-danger">*</span></label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="edit_policy_upload">
                            <label class="custom-file-label" for="edit_policy_upload">Choose file</label>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Policy Modal -->

<!-- Delete Policy Modal -->
<div class="modal custom-modal fade" id="delete_policy" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Policy</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn" (click)="deletePolicies()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Policy Modal -->