<div class="account-content">
    <a routerLink = "/login/joblist" class="btn btn-primary apply-btn">Apply Job</a>
    <div class="container">

        <!-- Account Logo -->
        <div class="account-logo">
            <a href="index.html"><img src="assets/img/logo2.png" alt="Dreamguy's Technologies"></a>
        </div>
        <!-- /Account Logo -->

        <div class="account-box">
            <div class="account-wrapper">
                <h3 class="account-title">Forgot Password?</h3>
                <p class="account-subtitle">Enter your email to get a password reset link</p>

                <!-- Account Form -->
                <form>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-primary account-btn" type="submit">Reset Password</button>
                    </div>
                    <div class="account-footer">
                        <p>Remember your password? <a routerLink = "/login/login">Login</a></p>
                    </div>
                </form>
                <!-- /Account Form -->

            </div>
        </div>
    </div>
</div>