<!-- Page Content -->
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Theme Settings</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <form (ngSubmit)="submitThemeSettings()" [formGroup]="themeSettings">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Website Name</label>
                    <div class="col-lg-9">
                        <input name="website_name" class="form-control" value="Dreamguy's Technologies" type="text" [class.invalid]="themeSettings.get('websiteName').invalid && themeSettings.get('websiteName').touched"
                        formControlName="websiteName">
                        <div
                        *ngIf="themeSettings.get('websiteName').invalid && themeSettings.get('websiteName').touched">
                        <small
                            *ngIf="themeSettings.get('websiteName').invalid && themeSettings.get('websiteName').touched"
                            class="text-danger"> *Website name is required</small>
                    </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Light Logo</label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control" [class.invalid]="themeSettings.get('lightLogo').invalid && themeSettings.get('lightLogo').touched"
                        formControlName="lightLogo">
                        <div
                        *ngIf="themeSettings.get('lightLogo').invalid && themeSettings.get('lightLogo').touched">
                        <small
                            *ngIf="themeSettings.get('lightLogo').invalid && themeSettings.get('lightLogo').touched"
                            class="text-danger"> *Light logo is required</small>
                    </div>
                        <span class="form-text text-muted">Recommended image size is 40px x 40px</span>
                    </div>
                    <div class="col-lg-2">
                        <div class="img-thumbnail float-right"><img src="assets/img/logo2.png" alt="" width="40"
                                height="40"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label">Favicon</label>
                    <div class="col-lg-7">
                        <input type="file" class="form-control" [class.invalid]="themeSettings.get('favicon').invalid && themeSettings.get('favicon').touched"
                        formControlName="favicon">
                        <div
                        *ngIf="themeSettings.get('favicon').invalid && themeSettings.get('favicon').touched">
                        <small
                            *ngIf="themeSettings.get('favicon').invalid && themeSettings.get('favicon').touched"
                            class="text-danger"> *Favicon is required</small>
                    </div>
                        <span class="form-text text-muted">Recommended image size is 16px x 16px</span>
                    </div>
                    <div class="col-lg-2">
                        <div class="settings-image img-thumbnail float-right"><img src="assets/img/logo2.png"
                                class="img-fluid" width="16" height="16" alt=""></div>
                    </div>
                </div>
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Page Content -->