<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Designations</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Designations</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a  class="btn add-btn" data-toggle="modal" data-target="#add_designation"><i
                        class="fa fa-plus"></i> Add Designation</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                    class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th style="width: 30px;">#</th>
                            <th>Designation </th>
                            <th>Department </th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstDesignation">
                            <td>{{item.id}}</td>
                            <td>{{item.designation}}</td>
                            <td>{{item.departmentName}}</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#edit_designation" (click)="edit(item.id)"><i
                                                class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#delete_designation" (click)="tempId = item.id"><i
                                                class="fa fa-trash-o m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Designation Modal -->
<div id="add_designation" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Designation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addDesignation()" [formGroup]="addDesignationForm">
                    <div class="form-group">
                        <label>Designation Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="addDesignationForm.get('Designation').invalid && addDesignationForm.get('Designation').touched"
                            formControlName="Designation">
                        <div
                            *ngIf="addDesignationForm.get('Designation').invalid && addDesignationForm.get('Designation').touched">
                            <small
                                *ngIf="addDesignationForm.get('Designation').invalid && addDesignationForm.get('Designation').touched"
                                class="text-danger"> Designation is required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Department <span class="text-danger">*</span></label>
                        <select class="select form-control" [class.invalid]="addDesignationForm.get('DepartmentName').invalid &&
                            addDesignationForm.get('DepartmentName').touched" formControlName="DepartmentName">
                            <option>Select Department</option>
                            <option>Web Development</option>
                            <option>IT Management</option>
                            <option> Marketing</option>
                        </select>
                        <div
                            *ngIf="addDesignationForm.get('DepartmentName').invalid && addDesignationForm.get('DepartmentName').touched">
                            <small
                                *ngIf="addDesignationForm.get('DepartmentName').invalid && addDesignationForm.get('DepartmentName').touched"
                                class="text-danger"> Department is required</small>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Designation Modal -->

<!-- Edit Designation Modal -->
<div id="edit_designation" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Designation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editDesignation()" [formGroup]="editDesignationForm">
                    <div class="form-group">
                        <label>Designation Name <span class="text-danger">*</span></label>
                        <input class="form-control" type="text"
                            [class.invalid]="editDesignationForm.get('Designation').invalid && editDesignationForm.get('Designation').touched"
                            formControlName="Designation">
                        <div
                            *ngIf="editDesignationForm.get('Designation').invalid && editDesignationForm.get('Designation').touched">
                            <small
                                *ngIf="editDesignationForm.get('Designation').invalid && editDesignationForm.get('Designation').touched"
                                class="text-danger"> *Department Name required</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Department <span class="text-danger">*</span></label>
                        <select class="select form-control"
                            [class.invalid]="editDesignationForm.get('DepartmentName').invalid && editDesignationForm.get('DepartmentName').touched"
                            formControlName="DepartmentName">
                            <option>Select Department</option>
                            <option>Web Development</option>
                            <option>IT Management</option>
                            <option>Marketing</option>
                        </select>
                        <div
                            *ngIf="editDesignationForm.get('DepartmentName').invalid && editDesignationForm.get('DepartmentName').touched">
                            <small
                                *ngIf="editDesignationForm.get('DepartmentName').invalid && editDesignationForm.get('DepartmentName').touched"
                                class="text-danger"> *Department Name required</small>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Designation Modal -->

<!-- Delete Designation Modal -->
<div class="modal custom-modal fade" id="delete_designation" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Designation</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                                (click)="deleteDesignation()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Designation Modal -->