<!-- Page Content -->
<div class="content container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <!-- Page Header -->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="page-title">Change Password</h3>
                    </div>
                </div>
            </div>
            <!-- /Page Header -->

            <form (ngSubmit)="submitChangePassword()" [formGroup]="changePassword">
                <div class="form-group">
                    <label>Old password</label>
                    <input type="password" class="form-control" [class.invalid]="changePassword.get('oldPassword').invalid && changePassword.get('oldPassword').touched"
                    formControlName="oldPassword">
                    <div
                    *ngIf="changePassword.get('oldPassword').invalid && changePassword.get('oldPassword').touched">
                    <small
                        *ngIf="changePassword.get('oldPassword').invalid && changePassword.get('oldPassword').touched"
                        class="text-danger"> *Old password is required</small>
                </div>
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input type="password" class="form-control" [class.invalid]="changePassword.get('newPassword').invalid && changePassword.get('newPassword').touched"
                    formControlName="newPassword">
                    <div
                    *ngIf="changePassword.get('newPassword').invalid && changePassword.get('newPassword').touched">
                    <small
                        *ngIf="changePassword.get('newPassword').invalid && changePassword.get('newPassword').touched"
                        class="text-danger"> *New password is required</small>
                </div>
                </div>
                <div class="form-group">
                    <label>Confirm password</label>
                    <input type="password" class="form-control" [class.invalid]="changePassword.get('confirmPassword').invalid && changePassword.get('confirmPassword').touched"
                    formControlName="confirmPassword">
                    <div
                    *ngIf="changePassword.get('confirmPassword').invalid && changePassword.get('confirmPassword').touched">
                    <small
                        *ngIf="changePassword.get('confirmPassword').invalid && changePassword.get('confirmPassword').touched"
                        class="text-danger"> *Confirm password is required</small>
                </div>
                </div>
                <div class="submit-section">
                    <button class="btn btn-primary submit-btn">Update Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Page Content -->