<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Timesheet</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Timesheet</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a  class="btn add-btn" data-toggle="modal" data-target="#add_todaywork"><i
                        class="fa fa-plus"></i> Add Today Work</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="datatable"
                    class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>Employee</th>
                            <th>Date</th>
                            <th>Projects</th>
                            <th class="text-center">Assigned Hours</th>
                            <th class="text-center">Hours</th>
                            <th class="d-none d-sm-table-cell">Description</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lstTimesheet;let i = index">
                            <td>
                                <h2 class="table-avatar">
                                    <a routerLink="/employees/employeeprofile" class="avatar"><img alt=""
                                            src="assets/img/profiles/avatar-0{{i+ 1}}.jpg"></a>
                                    <a routerLink="/employees/employeeprofile">{{item.employee}}
                                        <span>{{item.designation}} </span></a>
                                </h2>
                            </td>
                            <td>{{item.date | customDate}} </td>
                            <td>
                                <h2>{{item.project}} </h2>
                            </td>
                            <td class="text-center">{{item.assignedhours}}</td>
                            <td class="text-center">{{item.hrs}}</td>
                            <td class="d-none d-sm-table-cell col-md-4">{{item.description}}</td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a  class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"  data-toggle="modal" (click)="edit(item.id)"
                                            data-target="#edit_todaywork"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item"  data-toggle="modal"
                                            data-target="#delete_timesheet" (click)="tempId = item.id"><i
                                                class="fa fa-trash-o m-r-5"></i>
                                            Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Today Work Modal -->
<div id="add_todaywork" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Today Work details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addTimesheet()" [formGroup]="addTimesheetForm">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Project <span class="text-danger">*</span></label>
                            <select class="select form-control"
                                [class.invalid]="addTimesheetForm.get('Project').invalid && addTimesheetForm.get('Project').touched"
                                formControlName="Project">
                                <option>Office Management</option>
                                <option>Project Management</option>
                                <option>Video Calling App</option>
                                <option>Hospital Administration</option>
                            </select>
                            <div
                                *ngIf="addTimesheetForm.get('Project').invalid && addTimesheetForm.get('Project').touched">
                                <small
                                    *ngIf="addTimesheetForm.get('Project').invalid && addTimesheetForm.get('Project').touched"
                                    class="text-danger"> *Project is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Deadline <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                    [class.invalid]="addTimesheetForm.get('DeadlineName').invalid && addTimesheetForm.get('DeadlineName').touched"
                                    formControlName="DeadlineName">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Total Hours <span class="text-danger">*</span></label>
                            <input class="form-control" type="text"
                                [class.invalid]="addTimesheetForm.get('totalHours').invalid && addTimesheetForm.get('totalHours').touched"
                                formControlName="totalHours">
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Remaining Hours <span class="text-danger">*</span></label>
                            <input class="form-control" type="text"
                                [class.invalid]="addTimesheetForm.get('remainingHours').invalid && addTimesheetForm.get('remainingHours').touched"
                                formControlName="remainingHours">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Date <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                    [class.invalid]="addTimesheetForm.get('TimeDate').invalid && addTimesheetForm.get('TimeDate').touched"
                                    formControlName="TimeDate">
                                <div
                                    *ngIf="addTimesheetForm.get('TimeDate').invalid && addTimesheetForm.get('TimeDate').touched">
                                    <small
                                        *ngIf="addTimesheetForm.get('TimeDate').invalid && addTimesheetForm.get('TimeDate').touched"
                                        class="text-danger"> *Date is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Hours <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="9"
                                [class.invalid]="addTimesheetForm.get('Hrs').invalid && addTimesheetForm.get('Hrs').touched"
                                formControlName="Hrs">
                            <div *ngIf="addTimesheetForm.get('Hrs').invalid && addTimesheetForm.get('Hrs').touched">
                                <small
                                    *ngIf="addTimesheetForm.get('Hrs').invalid && addTimesheetForm.get('Hrs').touched"
                                    class="text-danger"> *Hrs is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description <span class="text-danger">*</span></label>
                        <textarea rows="4" class="form-control" type="text"
                            [class.invalid]="addTimesheetForm.get('Description').invalid && addTimesheetForm.get('Description').touched"
                            formControlName="Description">
                       </textarea>
                        <div
                            *ngIf="addTimesheetForm.get('Description').invalid && addTimesheetForm.get('Description').touched">
                            <small
                                *ngIf="addTimesheetForm.get('Description').invalid && addTimesheetForm.get('Description').touched"
                                class="text-danger"> *Description is required</small>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Today Work Modal -->

<!-- Edit Today Work Modal -->
<div id="edit_todaywork" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Work Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editTimesheet()" [formGroup]="editTimesheetForm">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Project <span class="text-danger">*</span></label>
                            <select class="select form-control"
                                [class.invalid]="editTimesheetForm.get('Project').invalid && editTimesheetForm.get('Project').touched"
                                formControlName="Project">
                                <option>Office Management</option>
                                <option>Project Management</option>
                                <option>Video Calling App</option>
                                <option>Hospital Administration</option>
                            </select>
                            <div
                                *ngIf="editTimesheetForm.get('Project').invalid && editTimesheetForm.get('Project').touched">
                                <small
                                    *ngIf="editTimesheetForm.get('Project').invalid && editTimesheetForm.get('Project').touched"
                                    class="text-danger"> *Project is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-4">
                            <label>Deadline <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                    [class.invalid]="editTimesheetForm.get('DeadlineName').invalid && editTimesheetForm.get('DeadlineName').touched"
                                    formControlName="DeadlineName" (bsValueChange)="from($event)">
                                <div
                                    *ngIf="editTimesheetForm.get('DeadlineName').invalid && editTimesheetForm.get('DeadlineName').touched">
                                    <small
                                        *ngIf="editTimesheetForm.get('DeadlineName').invalid && editTimesheetForm.get('DeadlineName').touched"
                                        class="text-danger"> *Total Hours is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Total Hours <span class="text-danger">*</span></label>
                            <input class="form-control" type="text"
                                [class.invalid]="editTimesheetForm.get('totalHours').invalid && editTimesheetForm.get('totalHours').touched"
                                formControlName="totalHours">
                            <div
                                *ngIf="editTimesheetForm.get('totalHours').invalid && editTimesheetForm.get('totalHours').touched">
                                <small
                                    *ngIf="editTimesheetForm.get('totalHours').invalid && editTimesheetForm.get('totalHours').touched"
                                    class="text-danger"> *Total Hours is required</small>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label>Remaining Hours <span class="text-danger">*</span></label>
                            <input class="form-control" type="text"
                                [class.invalid]="editTimesheetForm.get('remainingHours').invalid && editTimesheetForm.get('remainingHours').touched"
                                formControlName="remainingHours">
                            <div
                                *ngIf="editTimesheetForm.get('remainingHours').invalid && editTimesheetForm.get('remainingHours').touched">
                                <small
                                    *ngIf="editTimesheetForm.get('remainingHours').invalid && editTimesheetForm.get('remainingHours').touched"
                                    class="text-danger"> *Remaining Hours is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Date <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input class="form-control datetimepicker" type="text" bsDatepicker type="text"
                                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                    [class.invalid]="editTimesheetForm.get('TimeDate').invalid && editTimesheetForm.get('TimeDate').touched"
                                    formControlName="TimeDate" (bsValueChange)="to($event)">
                                <div
                                    *ngIf="editTimesheetForm.get('TimeDate').invalid && editTimesheetForm.get('TimeDate').touched">
                                    <small
                                        *ngIf="editTimesheetForm.get('TimeDate').invalid && editTimesheetForm.get('TimeDate').touched"
                                        class="text-danger"> *Date is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Hours <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="9"
                                [class.invalid]="editTimesheetForm.get('Hrs').invalid && editTimesheetForm.get('Hrs').touched"
                                formControlName="Hrs">
                            <div *ngIf="editTimesheetForm.get('Hrs').invalid && editTimesheetForm.get('Hrs').touched">
                                <small
                                    *ngIf="editTimesheetForm.get('Hrs').invalid && editTimesheetForm.get('Hrs').touched"
                                    class="text-danger"> *Hrs is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Description <span class="text-danger">*</span></label>
                        <textarea rows="4" class="form-control"
                            [class.invalid]="editTimesheetForm.get('Description').invalid && editTimesheetForm.get('Description').touched"
                            formControlName="Description">
                       </textarea>
                        <div
                            *ngIf="editTimesheetForm.get('Description').invalid && editTimesheetForm.get('Description').touched">
                            <small
                                *ngIf="editTimesheetForm.get('Description').invalid && editTimesheetForm.get('Description').touched"
                                class="text-danger"> *Description is required</small>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Today Work Modal -->

<!-- Delete Today Work Modal -->
<div class="modal custom-modal fade" id="delete_timesheet" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Work Details</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"
                                (click)="deleteTimesheet()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete Today Work Modal -->