<!-- Page Content -->
<div class="content">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Activities</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Activities</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
        <div class="col-md-12">
            <div class="activity">
                <div class="activity-box">
                    <ul class="activity-list">
                        <li>
                            <div class="activity-user">
                                <a routerLink = "/employees/employeeprofile" title="Lesley Grauer" data-toggle="tooltip" class="avatar">
                                    <img src="assets/img/profiles/avatar-01.jpg" alt="">
                                </a>
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <a routerLink = "/employees/employeeprofile" class="name">Lesley Grauer</a> added new task <a
                                        >Hospital Administration</a>
                                    <span class="time">4 mins ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="activity-user">
                                <a routerLink = "/employees/employeeprofile" class="avatar" title="Jeffery Lalor" data-toggle="tooltip">
                                    <img src="assets/img/profiles/avatar-02.jpg" alt="">
                                </a>
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <a routerLink = "/employees/employeeprofile" class="name">Jeffery Lalor</a> added <a href="javaScript:void(0)"
                                        class="name">Loren Gatlin</a> and <a href="javaScript:void(0)" class="name">Tarah
                                        Shropshire</a> to project <a >Patient appointment booking</a>
                                    <span class="time">6 mins ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="activity-user">
                                <a routerLink = "/employees/employeeprofile" title="Catherine Manseau" data-toggle="tooltip" class="avatar">
                                    <img src="assets/img/profiles/avatar-03.jpg" alt="">
                                </a>
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <a routerLink = "/employees/employeeprofile" class="name">Catherine Manseau</a> completed task <a
                                        >Appointment booking with payment gateway</a>
                                    <span class="time">12 mins ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="activity-user">
                                <a routerLink = "/employees/employeeprofile"title="Bernardo Galaviz" data-toggle="tooltip" class="avatar">
                                    <img src="assets/img/profiles/avatar-04.jpg" alt="">
                                </a>
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <a routerLink = "/employees/employeeprofile" class="name">Bernardo Galaviz</a> changed the task name <a
                                        >Doctor available module</a>
                                    <span class="time">1 day ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="activity-user">
                                <a routerLink = "/employees/employeeprofile" title="Mike Litorus" data-toggle="tooltip" class="avatar">
                                    <img src="assets/img/profiles/avatar-05.jpg" alt="">
                                </a>
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <a routerLink = "/employees/employeeprofile" class="name">Mike Litorus</a> added new task <a
                                        >Patient and Doctor video conferencing</a>
                                    <span class="time">2 days ago</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="activity-user">
                                <a routerLink = "/employees/employeeprofile" title="Jeffery Lalor" data-toggle="tooltip" class="avatar">
                                    <img src="assets/img/profiles/avatar-06.jpg" alt="">
                                </a>
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <a routerLink = "/employees/employeeprofile" class="name">Jeffery Lalor</a> added <a href="javaScript:void(0)"
                                        class="name">Jeffrey Warden</a> and <a href="javaScript:void(0)" class="name">Bernardo
                                        Galaviz</a> to the task of <a >Private chat module</a>
                                    <span class="time">7 days ago</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->