<!-- Page Content -->
<div class="content container-fluid">

    <!-- Page Header -->
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Expenses</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Expenses</li>
                </ul>
            </div>
            <div class="col-auto float-right ml-auto">
                <a class="btn add-btn" data-toggle="modal" data-target="#add_expense"><i
                        class="fa fa-plus"></i> Add Expense</a>
            </div>
        </div>
    </div>
    <!-- /Page Header -->

    <!-- Search Filter -->
    <div class="row filter-row">
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <input type="text" class="form-control floating" (input)="searchName($event.target.value)" (focusout) = "rerender()">
                <label class="focus-label">Item Name</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select form-control" (input)="purchasedBy($event.target.value)">
                    <option value = ""> -- Select -- </option>
                    <option value = "Loren Gatlin">Loren Gatlin</option>
                    <option value = "Tarah Shropshire">Tarah Shropshire</option>
                </select>
                <label class="focus-label">Purchased By</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus select-focus">
                <select class="select form-control" (input)="paidBy($event.target.value)">
                    <option value = ""> -- Select -- </option>
                    <option value = "Cash"> Cash </option>
                    <option value = "Cheque"> Cheque </option>
                </select>
                <label class="focus-label">Paid By</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control floating datetimepicker" type="text" bsDatepicker type="text"  [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }" (bsValueChange)="searchByFrom($event)">
                </div>
                <label class="focus-label">From</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <div class="form-group form-focus">
                <div class="cal-icon">
                    <input class="form-control floating datetimepicker" bsDatepicker type="text" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }" (bsValueChange)="searchByTo($event)">
                </div>
                <label class="focus-label">To</label>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
            <a class="btn btn-success btn-block"> Search </a>
        </div>
    </div>
    <!-- /Search Filter -->

    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id = "datatable" class="table table-striped custom-table mb-0 datatable">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Purchase From</th>
                            <th>Purchase Date</th>
                            <th>Purchased By</th>
                            <th>Amount</th>
                            <th>Paid By</th>
                            <th class="text-center">Status</th>
                            <th class="text-right">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expenses of allExpenses;let i = index">
                            <td>
                                <strong>{{expenses.item}}</strong>
                            </td>
                            <td>{{expenses.purchaseFrom}}</td>
                            <td>{{expenses.purchaseDate | customDate}}</td>
                            <td>
                                <h2 class="table-avatar">
                                    <a routerLink = "/employees/employeeprofile" class="avatar avatar-xs"><img
                                            src= "assets/img/profiles/avatar-0{{i+ 1}}.jpg" alt=""></a>
                                    <a routerLink = "/employees/employeeprofile">{{expenses.purchasedBy}}</a>
                                </h2>
                            </td>
                            <td>{{expenses.amount}}</td>
                            <td>{{expenses.paidby}}</td>
                            <td class="text-center">
                                <div class="dropdown action-label">
                                    <a class="btn btn-white btn-sm btn-rounded dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-dot-circle-o text-danger"></i> Pending
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"> <i class="fa fa-dot-circle-o text-danger"></i>
                                            Pending</a>
                                        <a class="dropdown-item"> <i
                                                class="fa fa-dot-circle-o text-success"></i> Approved</a>
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a class="action-icon dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" data-toggle="modal"
                                            data-target="#edit_expense" (click)="edit(expenses.id)"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" data-toggle="modal"
                                            data-target="#delete_expense" (click)="tempId = expenses.id"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="allExpenses.length === 0">
                            <td colspan="10">
                                <h5 style="text-align: center;">No data found</h5>
                            </td>
                           
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /Page Content -->

<!-- Add Expense Modal -->
<div id="add_expense" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Expense</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="addExpenses()" [formGroup]="addExpensesForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Item Name</label>
                                <input class="form-control" type="text" [class.invalid]="addExpensesForm.get('itemName').invalid && addExpensesForm.get('itemName').touched"
                                formControlName="itemName">
                                <div
                                    *ngIf="addExpensesForm.get('itemName').invalid && addExpensesForm.get('itemName').touched">
                                    <small
                                        *ngIf="addExpensesForm.get('itemName').invalid && addExpensesForm.get('itemName').touched"
                                        class="text-danger"> *Item name is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Purchase From</label>
                                <input class="form-control"  [class.invalid]="addExpensesForm.get('purchaseFrom').invalid && addExpensesForm.get('purchaseFrom').touched"
                                formControlName="purchaseFrom">
                                <div
                                    *ngIf="addExpensesForm.get('purchaseFrom').invalid && addExpensesForm.get('purchaseFrom').touched">
                                    <small
                                        *ngIf="addExpensesForm.get('purchaseFrom').invalid && addExpensesForm.get('purchaseFrom').touched"
                                        class="text-danger"> *Purchase from is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Purchase Date</label>
                                <div class="cal-icon"><input class="form-control datetimepicker" bsDatepicker type="text" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }"
                                    [class.invalid]="addExpensesForm.get('purchaseDate').invalid && addExpensesForm.get('purchaseDate').touched"
                                formControlName="purchaseDate">
                                <div
                                    *ngIf="addExpensesForm.get('purchaseDate').invalid && addExpensesForm.get('purchaseDate').touched">
                                    <small
                                        *ngIf="addExpensesForm.get('purchaseDate').invalid && addExpensesForm.get('purchaseDate').touched"
                                        class="text-danger"> *Purchase date is required</small>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Purchased By </label>
                                <select class="select form-control"
                                [class.invalid]="addExpensesForm.get('purchasedBy').invalid && addExpensesForm.get('purchasedBy').touched"
                                formControlName="purchasedBy">
                                    <option>Loren Gatlin</option>
                                    <option>Tarah Shropshire</option>
                                </select>
                                <div
                                    *ngIf="addExpensesForm.get('purchasedBy').invalid && addExpensesForm.get('purchasedBy').touched">
                                    <small
                                        *ngIf="addExpensesForm.get('purchasedBy').invalid && addExpensesForm.get('purchasedBy').touched"
                                        class="text-danger"> *Purchased by is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Amount</label>
                                <input placeholder="$50" class="form-control" type="text"  [class.invalid]="addExpensesForm.get('amount').invalid && addExpensesForm.get('amount').touched"
                                formControlName="amount">
                                <div
                                    *ngIf="addExpensesForm.get('amount').invalid && addExpensesForm.get('amount').touched">
                                    <small
                                        *ngIf="addExpensesForm.get('amount').invalid && addExpensesForm.get('amount').touched"
                                        class="text-danger"> *Amount is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Paid By</label>
                                <select class="select form-control"
                                [class.invalid]="addExpensesForm.get('paidBy').invalid && addExpensesForm.get('paidBy').touched"
                                formControlName="paidBy">
                                    <option>Cash</option>
                                    <option>Cheque</option>
                                </select>
                                <div
                                    *ngIf="addExpensesForm.get('paidBy').invalid && addExpensesForm.get('paidBy').touched">
                                    <small
                                        *ngIf="addExpensesForm.get('paidBy').invalid && addExpensesForm.get('paidBy').touched"
                                        class="text-danger"> *Paid is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="select form-control">
                                    <option>Pending</option>
                                    <option>Approved</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Attachments</label>
                                <input class="form-control" type="file">
                            </div>
                        </div>
                    </div>
                    <div class="attach-files">
                        <ul>
                            <li>
                                <img src="assets/img/placeholder.jpg" alt="">
                                <a class="fa fa-close file-remove"></a>
                            </li>
                            <li>
                                <img src="assets/img/placeholder.jpg" alt="">
                                <a class="fa fa-close file-remove"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Expense Modal -->

<!-- Edit Expense Modal -->
<div id="edit_expense" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Expense</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="editExpenses()" [formGroup]="editExpensesForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Item Name</label>
                                <input class="form-control" value="Dell Laptop" type="text" [class.invalid]="editExpensesForm.get('itemName').invalid && editExpensesForm.get('itemName').touched"
                                formControlName="itemName">
                                <div
                                    *ngIf="editExpensesForm.get('itemName').invalid && editExpensesForm.get('itemName').touched">
                                    <small
                                        *ngIf="editExpensesForm.get('itemName').invalid && editExpensesForm.get('itemName').touched"
                                        class="text-danger"> *Item name is required</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Purchase From</label>
                                <input class="form-control" value="Amazon" [class.invalid]="editExpensesForm.get('purchaseFrom').invalid && editExpensesForm.get('purchaseFrom').touched"
                                formControlName="purchaseFrom">
                                <div
                                    *ngIf="editExpensesForm.get('purchaseFrom').invalid && editExpensesForm.get('purchaseFrom').touched">
                                    <small
                                        *ngIf="editExpensesForm.get('purchaseFrom').invalid && editExpensesForm.get('purchaseFrom').touched"
                                        class="text-danger"> *Purchase from is required</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Purchase Date</label>
                                <div class="cal-icon"><input class="form-control datetimepicker" bsDatepicker type="text" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY',  returnFocusToInput: true }" [class.invalid]="editExpensesForm.get('purchaseDate').invalid && editExpensesForm.get('purchaseDate').touched"
                                    formControlName="purchaseDate" (bsValueChange)="from($event)">
                                    <div
                                    *ngIf="editExpensesForm.get('purchaseDate').invalid && editExpensesForm.get('purchaseDate').touched">
                                    <small
                                        *ngIf="editExpensesForm.get('purchaseDate').invalid && editExpensesForm.get('purchaseDate').touched"
                                        class="text-danger"> *Purchase date is required</small>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Purchased By </label>
                                <select class="select form-control" [class.invalid]="editExpensesForm.get('purchasedBy').invalid && editExpensesForm.get('purchasedBy').touched"
                                formControlName="purchasedBy">
                                    <option>Loren Gatlin</option>
                                    <option>Tarah Shropshire</option>
                                </select>
                                <div
                                *ngIf="editExpensesForm.get('purchasedBy').invalid && editExpensesForm.get('purchasedBy').touched">
                                <small
                                    *ngIf="editExpensesForm.get('purchasedBy').invalid && editExpensesForm.get('purchasedBy').touched"
                                    class="text-danger"> *Purchased by is required</small>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Amount</label>
                                <input placeholder="$50" class="form-control" value="$10000" type="text"  [class.invalid]="editExpensesForm.get('amount').invalid && editExpensesForm.get('amount').touched"
                                formControlName="amount">
                                <div
                                *ngIf="editExpensesForm.get('amount').invalid && editExpensesForm.get('amount').touched">
                                <small
                                    *ngIf="editExpensesForm.get('amount').invalid && editExpensesForm.get('amount').touched"
                                    class="text-danger"> *Amount is required</small>
                            </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Paid By</label>
                                <select class="select form-control" [class.invalid]="editExpensesForm.get('paidBy').invalid && editExpensesForm.get('paidBy').touched"
                                formControlName="paidBy">
                                    <option>Cash</option>
                                    <option>Cheque</option>
                                </select>
                                <div
                                *ngIf="editExpensesForm.get('paidBy').invalid && editExpensesForm.get('paidBy').touched">
                                <small
                                    *ngIf="editExpensesForm.get('paidBy').invalid && editExpensesForm.get('paidBy').touched"
                                    class="text-danger"> *Paid by is required</small>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Status</label>
                                <select class="select form-control">
                                    <option>Pending</option>
                                    <option>Approved</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Attachments</label>
                                <input class="form-control" type="file">
                            </div>
                        </div>
                    </div>
                    <div class="attach-files">
                        <ul>
                            <li>
                                <img src="assets/img/placeholder.jpg" alt="">
                                <a class="fa fa-close file-remove"></a>
                            </li>
                            <li>
                                <img src="assets/img/placeholder.jpg" alt="">
                                <a class="fa fa-close file-remove"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Expense Modal -->

<!-- Delete Expense Modal -->
<div class="modal custom-modal fade" id="delete_expense" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Expense</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <a  class="btn btn-primary continue-btn"  (click)="deleteTicket()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a  data-dismiss="modal"
                                class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Delete Expense Modal -->