<!-- Outgoing Call -->
<div class="call-box outgoing-box">
    <div class="call-wrapper">
        <div class="call-inner">
            <div class="call-user">
                <img class="call-avatar" src="assets/img/profiles/avatar-02.jpg" alt="">
                <h4>John Doe</h4>
                <span>Connecting...</span>
            </div>
            <div class="call-items">
                <a  class="btn call-item"><i class="material-icons">mic</i></a>
                <a  class="btn call-item"><i class="material-icons">videocam</i></a>
                <a href="javaScript:void(0)" class="btn call-item call-end"><i class="material-icons vcend">call_end</i></a>
                <a  class="btn call-item"><i class="material-icons">person_add</i></a>
                <a  class="btn call-item"><i class="material-icons">volume_up</i></a>
            </div>
        </div>
    </div>
</div>
<!-- /Outgoing Call -->