<div class="chat-window">
    <div class="fixed-header">
        <div class="navbar">
            <div class="user-details">
                <div class="float-left user-img">
                    <a class="avatar"  title="Mike Litorus">
                        <img src="assets/img/profiles/avatar-05.jpg" alt="" class="rounded-circle">
                        <span class="status online"></span>
                    </a>
                </div>
                <div class="user-info float-left">
                    <a ><span>Mike Litorus</span></a>
                    <span class="last-seen">Online</span>
                </div>
            </div>
            <ul class="nav float-right custom-menu">
                <li class="nav-item">
                    <a href="#task_window" id="task_chat" class="task-chat profile-rightbar float-right"><i class="fa fa-comments"></i></a>
                </li>
                <li class="nav-item dropdown dropdown-action">
                    <a href="javaScript:void(0)" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javaScript:void(0)" class="dropdown-item">Settings</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="chat-contents">
        <div class="chat-content-wrap">
            <div class="user-video">
                <img src="assets/img/video-call.jpg" alt="">
            </div>
            <div class="my-video">
                <ul>
                    <li>
                        <img src="assets/img/profiles/avatar-01.jpg" class="img-fluid" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="chat-footer">
        <div class="call-icons">
            <span class="call-duration">00:59</span>
            <ul class="call-items">
                <li class="call-item">
                    <a tooltip="Enable Video">
                        <i class="fa fa-video-camera camera"></i>
                    </a>
                </li>
                <li class="call-item">
                    <a tooltip="Mute Audio">
                        <i class="fa fa-microphone microphone"></i>
                    </a>
                </li>
                <li class="call-item">
                    <a tooltip="Add User">
                        <i class="fa fa-user-plus"></i>
                    </a>
                </li>
                <li class="call-item">
                    <a tooltip="Full Screen">
                        <i class="fa fa-arrows-v full-screen"></i>
                    </a>
                </li>
            </ul>
            <div class="end-call">
                <a >
                    <i class="material-icons">call_end</i>
                </a>
            </div>
        </div>
    </div>
</div>