<div class="chat-wrap-inner">
    <div class="chat-box">
        <div class="chats">
            <div class="chat chat-left">
                <div class="chat-avatar">
                    <a href="javaScript:void(0)" class="avatar">
                        <img alt="" src="assets/img/profiles/avatar-02.jpg">
                    </a>
                </div>
                <div class="chat-body">
                    <div class="chat-bubble">
                        <div class="chat-content">
                            <span class="task-chat-user">You</span> <span class="chat-time">8:35 am</span>
                            <div class="call-details">
                                <i class="material-icons">phone_missed</i>
                                <div class="call-info">
                                    <div class="call-user-details">
                                        <span class="call-description">Jeffrey Warden missed the call</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat chat-left">
                <div class="chat-avatar">
                    <a href="javaScript:void(0)" class="avatar">
                        <img alt="" src="assets/img/profiles/avatar-02.jpg">
                    </a>
                </div>
                <div class="chat-body">
                    <div class="chat-bubble">
                        <div class="chat-content">
                            <span class="task-chat-user">John Doe</span> <span class="chat-time">8:35 am</span>
                            <div class="call-details">
                                <i class="material-icons">call_end</i>
                                <div class="call-info">
                                    <div class="call-user-details"><span class="call-description">This call has ended</span></div>
                                    <div class="call-timing">Duration: <strong>5 min 57 sec</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-line">
                <span class="chat-date">January 29th, 2019</span>
            </div>
            <div class="chat chat-left">
                <div class="chat-avatar">
                    <a href="javaScript:void(0)" class="avatar">
                        <img alt="" src="assets/img/profiles/avatar-05.jpg">
                    </a>
                </div>
                <div class="chat-body">
                    <div class="chat-bubble">
                        <div class="chat-content">
                            <span class="task-chat-user">Richard Miles</span> <span class="chat-time">8:35 am</span>
                            <div class="call-details">
                                <i class="material-icons">phone_missed</i>
                                <div class="call-info">
                                    <div class="call-user-details">
                                        <span class="call-description">You missed the call</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat chat-left">
                <div class="chat-avatar">
                    <a href="javaScript:void(0)" class="avatar">
                        <img alt="" src="assets/img/profiles/avatar-02.jpg">
                    </a>
                </div>
                <div class="chat-body">
                    <div class="chat-bubble">
                        <div class="chat-content">
                            <span class="task-chat-user">You</span> <span class="chat-time">8:35 am</span>
                            <div class="call-details">
                                <i class="material-icons">ring_volume</i>
                                <div class="call-info">
                                    <div class="call-user-details">
                                        <a href="javaScript:void(0)" class="call-description call-description--linked" data-qa="call_attachment_link">Calling John Smith ...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>